@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  background-color: hsl(0, 0%, 98%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px; 
  font-weight: 800;
  border-bottom: 3px solid hsl(0, 0%, 93%) ;
}

header button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.search-bar {
  background-color: hsl(0, 0%, 98%);
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.search-form input, select {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 2px 5px -3px hsl(0, 0%, 52%);
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
} 

.search-form input {
  color: hsl(0, 0%, 52%);
  width: 34%;
}

.search-form select {
  width: 15%;
}

.display-countries {
  padding: 20px 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  grid-gap: 4rem;
  gap: 4rem;
  justify-items: center;
  text-decoration: none;
}

.country-card {
  width: 100%;
  height: 22rem;
  overflow: hidden;
  border-radius: 5px;
  background: white;
  margin: 5px;
  box-shadow: 1px 2px 5px -3px hsl(0, 0%, 52%);
}

.country-info {
  padding-top: 20px;
}

.country-name {
  padding: 5px 20px;
  font-size: 1rem;
}

.country-flag {
  height:50%;
}

.country-flag img {
  width:100%;
  height: 100%;
  object-fit: cover;
}

.label {
  font-weight: 600;
}

.country-data {
  padding: 5px 20px;
}

.CountryPage {
  font-size: 16px;
}
.countrypage-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  width: 100%;
}

.flag-container {
  width: 100%;
  height: 20rem;
}

.flag-container img {
  display:block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.countrypage-info{
  display: flex;
  flex-direction: row;
}

.bold {
  font-weight: 800
}