@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --elements-background: hsl(0, 0%, 100%);
  --body-background: hsl(0, 0%, 98%);
  --input-text: hsl(0, 0%, 52%);
  --body-text:hsl(200, 15%, 8%);
  --border: hsl(0, 0%, 73%);
}

.dark {
  --elements-background: hsl(209, 23%, 22%);
  --body-background: hsl(207, 26%, 17%);
  --input-text: hsl(0, 0%, 52%);
  --body-text: hsl(0, 0%, 100%);
  --border: hsl(0, 0%, 7%);
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  background-color: var(--light-background);
  color: var(--body-text);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px; 
  font-weight: 800;
  border-bottom: 3px solid var(--border);
  font-size: 14px;
  background-color: var(--elements-background);
  color: var(--body-text)
}

.header button {
  background-color: var(--elements-background);
  padding: 10px;
  border: none;
  cursor: pointer;
}

.toggle-switch {
  display: flex;
  align-items: center;
}

.toggle-switch span{
  margin: 10px;
}

.DarkToggle.react-toggle--checked .react-toggle-track {
  background-color: var(--body-background);
}

.DarkToggle.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: var(--body-background);
}

.DarkToggle.react-toggle--checked .react-toggle-thumb {
  border-color: var(--body-background);
}

.search-bar {
  background-color: var(--body-background);
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.ui.input.inputStyle>input, .ui.input.inputStyle>input:focus {
  background: var(--elements-background);
  color: var(--body-text);
}

.ui.selection.dropdown.dropdownStyle , .ui.selection.dropdown.dropdownStyle .menu>.item{
  background:var(--elements-background);
  border-top: 1px solid var(--elements-background);
  color: var(--body-text);
}

.ui.icon.input {
  color: var(--body-text)
}

.display-countries {
  padding: 20px 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 4rem;
  gap: 4rem;
  justify-items: center;
  text-decoration: none;
  background-color: var(--body-background);

}

.country-card {
  width: 100%;
  height: 25rem;
  overflow: hidden;
  border-radius: 5px;
  background: white;
  margin: 5px;
  box-shadow: 1px 2px 5px -3px var(--border);
  transition: .15s;
  background-color: var(--elements-background);
  color:var(--body-text);
}

.country-card:hover{ 
  box-shadow: 0px 0px 15px 0px var(--border);
}
.country-info {
  padding-top: 20px;
}

.country-name {
  padding: 5px 20px;
  font-size: 1rem;
}

.country-flag {
  height:50%;
}

.country-flag img {
  width:100%;
  height: 100%;
  object-fit: cover;
}

.label {
  font-weight: 600;
}

.country-data {
  padding: 5px 20px;
}

.CountryPage {
  font-size: 16px;
  background-color: var(--body-background);
  height: 100vh;
  color: var(--body-text)
}

.back-button {
  margin: 60px 80px;
  padding: 10px 30px;
  background-color: var(--elements-background);
  color: var(--body-text);
  border-radius: 5px;
  border: 0;
  box-shadow: 0px 0px 5px -1px hsl(0, 0%, 52%);
  cursor: pointer;
}

.countrypage-container {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 80px;
}

.flag-container {
  width: 40%;
  height: 22rem;
}

.flag-container img {
  display:block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.countrypage-data {
  margin: 20px 0px 20px 100px;
}

.countrypage-info{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
  line-height: 27px;
  font-size:0.8rem;
}

.right-col {
  margin-left: 120px;
}

.countrypage-links{
  margin-top: 40px;
  font-size:0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.countrypage-links h5 {
  margin: 0;
}

.countrypage-links button {
  margin: 0 2px;
  padding: 5px 10px; 
  background-color: var(--elements-background);
  border-radius: 2px;
  color: var(--body-text);
  box-shadow: 0px 0px 5px -1px hsl(0, 0%, 52%);
}

.bold {
  font-weight: 600
}
